#chats .chromed-hipchat-emoticons, #chats .chromed-hipchat-emoticons * {
  -webkit-box-sizing: border-box; box-sizing: border-box;
}

#chats .chromed-hipchat-emoticons {
  overflow: scroll;
  padding: 10px;
  border: 5px solid #359bd3;
  border-radius: 5px;
  background: white;
  position: absolute;
  z-index: 9999;
  right: 5px;
  bottom: 5px;
  height: 250px;
  width: 471px;
}

#chats .chromed-hipchat-emoticons input {
  width: 256px;
  margin-bottom: 15px;
  padding: 3px 5px;
}

#chats .chromed-hipchat-emoticons ul {
  list-style: none;
  margin: 0;
}

#chats .chromed-hipchat-emoticons li {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 4px;
  width: 80px;
  height: 48px;
  overflow: hidden;
  text-align: center;
  position: relative;
  border: 1px solid white;
  text-overflow:ellipsis;
}

#chats .chromed-hipchat-emoticons li img {
  max-height: 24px;
}

#chats .chromed-hipchat-emoticons li a {
  color: #777;
  text-decoration: none;
  text-overflow:ellipsis;
}

#chats .chromed-hipchat-emoticons li span {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  text-align: center;
  display: inline-block;
  text-overflow:ellipsis;
}

#chats .chromed-hipchat-emoticons li.selected {
  border: 1px dotted #999;
}

