body {
  margin: 0 30px;
  font-family: Helvetica, sans-serif;
  color: #333;
}

h2 {
  margin-top: 30px;
}

p.description {
  margin-top: 50px;
}

#message {
  min-height: 50px;
  line-height: 50px;
  font-size: 30px;
}

input[type=text] {
  width: 300px;
}

button {
  padding: 5px 10px;
  font-size: 1em;
}

